# ROOT GITIGNORE:

# temporary linux files
*~

#compiled android cocos2dx
cocos2d/cocos/platform/android/java/bin/
cocos2d/cocos/platform/android/java/gen/
facebook-android-sdk-*/facebook/bin/

# Added by Mojtaba
.DS_Store

*.moved-aside
build/*
*.xcworkspace
*.mode1v3
*.mode2v3
*.pbxuser
!default.xcworkspace
!default.mode1v3
!default.mode2v3
!default.pbxuser
*.perspectivev3
profile
xcuserdata
.idea/*
